* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(500px, 5fr);
}
.todo-box {
    display: grid;
    grid-template:
        "a c"
        "b d"
        ". e"
        ". f"
        ". g"
}
.title {
  grid-area: a;
}
.description {
  grid-area: b;
}
.date {
  grid-area: c;
}
.priority {
  grid-area: d;
}
.project {
  grid-area: e;
}
.check {
  grid-area: f;
}
.delete {
  grid-area: g;
}